﻿@model NOlx.Models.House
@{
    ViewBag.Title = "Anunturi disponibile";
}
@using NOlx.Controllers
<div style="text-align: center; width: 100%">
    <br />
    <h2>@ViewBag.Title</h2>
    <br />
</div>

<div class="col-sm-12">

    <div class="col-sm-4">
        

    

    @using (Html.BeginForm("Index", "House", FormMethod.Get, new { ViewBag.SearchFilters }))
    {
        <input type="text" placeholder="Cauta dupa numele anuntului..." class="form-control form-group" name="ByTitle"

        <label><b>Pret: </b></label>
        <input type="number" placeholder="Pret minim" class="form-control form-group" value="PriceMin" name="PriceMin" />
        <input type="number" placeholder="Pret maxim" class="form-control form-group" value="PriceMax" name="PriceMax" />
        <br />


        <label>An de constructie: </label>
        <input type="number" placeholder="Din anul..." class="form-control form-group" value="YearBuiltMin" name="YearBuiltMin" />
        <input type="number" placeholder="Pana in anul..." class="form-control form-group" value="YearBuiltMax" name="YearBuiltMax" />
        <br />


        <label>Locuri de parcare: </label>
        <input type="number" placeholder="Minim nr locuri..." class="form-control form-group" value="GarageCarsMin" name="GarageCarsMin" />
        <input type="number" placeholder="Maxim nr locuri..." class="form-control form-group" value="GarageCarsMax" name="GarageCarsMax" />
        <br />

        
        <label>Suprafata locuibila: </label>
        <input type="number" placeholder="Suprafata minima mp" class="form-control form-group" value="GrLivMin" name="GrLivMin" />
        <input type="number" placeholder="Suprafata maxima mp" class="form-control form-group" value="GrLivMax" name="GrLivMax" />
        <br />



        <br />

        <button type="submit" class="btn btn-info">Cauta</button>

    }
</div>

    @*@if (TempData.ContainsKey("message"))
    {
        <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
    }*@

    <h3>Rezultate @ViewBag.Houses.Count</h3>
    <div class="col-sm-8 panel panel-default">
        @foreach (NOlx.Models.House house in ViewBag.Houses)
        {
            @Html.Partial("HouseInfo", house);
        }

    </div>


</div>