﻿@model NOlx.Models.House
@{
    ViewBag.Title = "Anunturile mele";
}

<div style="text-align: center; width: 100%">
    <br />
    <h2>@ViewBag.Title</h2>
    <br />
</div>


@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}


<div class="panel panel-default">
    @foreach (NOlx.Models.House house in ViewBag.Houses)
    {
        @Html.Partial("MyHouseInfo", house);
    }

</div>