﻿@model NOlx.Models.House
@using NOlx.Models
@{
    ViewBag.Titlu = "Adaugare anunt";
}
<br />
<div class="row margin-bottom-15">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>@ViewBag.Titlu</h2>
    </div>
</div>
<br/>
<br/>
<br/>
    
<!-- Primul block de selectii -->
@using (Html.BeginForm("New", "House", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="col-md-4">
        @Html.HiddenFor(m => m.UserId)

        @Html.Label("Title", "Titlu:")
        <br />
        @Html.TextBox("Title", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        <br />
        @Html.Label("Description", "Descriere:")
        <br />
        @Html.TextArea("Description", null, new { @class = "form-control" })
        <br />
        @Html.Label("Address", "Adresa casa")
        <br />
        @Html.TextBox("Address", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
        <br />
        @Html.Label("OverallQual", "Calitatea finisajelor: ")
        <br />
        @Html.DropDownListFor(m => m.OverallQual, new List<SelectListItem>
        {
            new SelectListItem{ Text="Foarte Excelent",   Value = "10" },
            new SelectListItem{ Text="Excelent",          Value = "9" },
            new SelectListItem{ Text="Foarte Bun",        Value = "8" },
            new SelectListItem{ Text="Bun",               Value = "7" },
            new SelectListItem{ Text="Peste medie",        Value = "6" },
            new SelectListItem{ Text="Medie",              Value = "5" },
            new SelectListItem{ Text="Sub medie",          Value = "4" },
            new SelectListItem{ Text="Rezonabil",         Value = "3" },
            new SelectListItem{ Text="Prost",            Value = "2" },
            new SelectListItem{ Text="Foarte Prost",     Value = "1" },
        }, "Selectati", new { @class = "form-control phase-1" })
        @Html.ValidationMessageFor(m => m.OverallQual, "", new { @class = "text-danger" })
        <br />
        @Html.Label("KitchenQual", "Nivel de echipare bucatarii: ")
        <br />
        <td>
            @Html.DropDownListFor(m => m.KitchenQual, new List<SelectListItem>
        {
            new SelectListItem{ Text="Selectati...", Value = "-1", Selected = true },
            new SelectListItem{ Text="Excelent", Value = "4" },
            new SelectListItem{ Text="Bun", Value = "3" },
            new SelectListItem{ Text="Medie", Value = "2" },
            new SelectListItem{ Text="Rezonabil", Value = "1" },
            new SelectListItem{ Text="Prost", Value = "0" }
        }, new { @class = "form-control phase-1" })
        </td>
        @Html.ValidationMessageFor(m => m.KitchenQual, "", new { @class = "text-danger" })

        <br />
        @Html.Label("MSSubClass", "Tipul de locuință implicată în vânzare:")
        <br />
        <td>
            @Html.DropDownListFor(m => m.MSSubClass, new List<SelectListItem>
        {
            new SelectListItem{ Text="Selectati...", Value = "-1" },
            new SelectListItem{ Text="1 etaj - an 1946 sau mai nou", Value = "5" },
            new SelectListItem{ Text="1 etaj - an 1945 sau mai vechi", Value = "6" },
            new SelectListItem{ Text="1 etaj - mansarda finisata - orice an", Value = "7" },
            new SelectListItem{ Text="1-1/2 etaje - nefinisat - orice an", Value = "8" },
            new SelectListItem{ Text="1-1/2 etaje - finisat - orice an", Value = "9" },
            new SelectListItem{ Text="2 etaje - an 1946 sau mai nou", Value = "10" },
            new SelectListItem{ Text="2 etaje - an 1945 sau mai vechi", Value = "11" },
            new SelectListItem{ Text="2-1/2 etaje - orice an", Value = "12" },
            new SelectListItem{ Text="MULTILEVEL", Value = "13" },
            new SelectListItem{ Text="Foaier impartit", Value = "15" },
            new SelectListItem{ Text="Duplex - orice an", Value = "16" },
            new SelectListItem{ Text="1 etaj PUD - an 1946 sau mai nou", Value = "0" },
            new SelectListItem{ Text="1-1/2 etaje PUD - orice varsta", Value = "1" },
            new SelectListItem{ Text="2 etaje PUD - 1946 sau mai nou", Value = "2" },
            new SelectListItem{ Text="PUD - MULTILEVEL", Value = "3" },
            new SelectListItem{ Text="Conversie 2 familii - orice an", Value = "4" },
        }, new { @class = "form-control phase-1" })
        </td>
        @Html.ValidationMessageFor(m => m.MSSubClass, "", new { @class = "text-danger" })
    </div>
    
    <div class="col-md-4">

        @Html.Label("YearBuilt", "Anul constructiei:")
        <br />
        @Html.TextBox("YearBuilt", null, new { @class = "form-control phase-1" })
        @Html.ValidationMessageFor(m => m.YearBuilt, "", new { @class = "text-danger" })
        <br />
        @Html.Label("GrLivArea", "Suprafata de locuit in metri patrati:")
        <br />
        @Html.TextBox("GrLivArea", null, new { @class = "form-control phase-1" })
        @Html.ValidationMessageFor(m => m.GrLivArea, "", new { @class = "text-danger" })
        <br /><br />
        @Html.Label("TotRmsAbvGrd", "Numar camere(nu include bai):")
        <br />
        @Html.TextBox("TotRmsAbvGrd", null, new { @class = "form-control phase-1" })
        @Html.ValidationMessageFor(m => m.TotRmsAbvGrd, "", new { @class = "text-danger" })
        <br />
        @Html.Label("FullBath", "Numarul de bai:")
        <br />
        @Html.TextBox("FullBath", null, new { @class = "form-control phase-1" })
        @Html.ValidationMessageFor(m => m.FullBath, "", new { @class = "text-danger" })

        <br />
        @Html.Label("GarageCars", "Capacitate garaj(masurata in numarul de masini):")
        <br />
        @Html.TextBox("GarageCars", null, new { @class = "form-control phase-1" })
        @Html.ValidationMessageFor(m => m.GarageCars, "", new { @class = "text-danger" })


        <br />
        <label>Select o imagine</label>
        <input type="file" id="image1" name="image1" />
        <br />
        <!-- END BLOCK -->

        <button id="btn-confirmation" type="button" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-pencil"></span> Confirmati Selectiile</button> 
        <button id="btn-edit" type="button" class="btn btn-primary btn-warning hide"><span class="glyphicon glyphicon-pencil"></span> Editati Selectiile</button> 
    </div>
    <!-- BEGIN Al doilea block de selectii -->
    <div id="#div-phase-2" class="col-md-4">
        <br />
        @Html.Label("SuggestedPrice", "Pret Sugerat:")
        <br />
        @Html.TextBox("SuggestedPrice", null, new { @class = "form-control", @readonly="readonly" })
        @Html.ValidationMessageFor(m => m.SuggestedPrice, "", new { @class = "text-danger" })
        <br />

        @Html.Label("Price", "Pret:")
        <br />
        @Html.TextBox("Price", null, new { @class = "form-control phase-2", Readonly = true })
        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger"})
        <br />

        <button id="btn-add" type="submit" class="btn btn-primary btn-success phase-2" disabled><span class="glyphicon glyphicon-pencil"></span> Adauga anunt</button>
        <a class="btn btn-primary btn-danger" href="/House/Index"><span class="glyphicon glyphicon-remove"></span> Renunta</a>
    </div>
    <!-- END BLOCK -->
</div>

}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="../../Scripts/script-new.js"></script>

