﻿@model NOlx.Models.House
@{
    ViewBag.Title = @Model.Title;
}
@using NOlx.Controllers
<h3><b>@Model.Title </b></h3>
<div class="container">

    <div class="container bootstrap snippet">
        <div class="row ng-scope">
            @{ 
                var base64 = Convert.ToBase64String(@Model.Image);
                var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
            }
            
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <div class="pv-lg"><img class="center-block img-responsive img-circle img-thumbnail thumb96" src="@imgsrc" alt="Contact"></div>
                        
                        
                        <h4 class="m0 text-bold"> <i>Vandut de: </i><i class="glyphicon glyphicon-user"></i> @Utilss.GetUserName(Model.UserId)</h4>

                        <h3><b>Pret: </b> @Model.Price RON</h3>
                        
                        <br />
                        <br />
                        <div class="text-center"><a class="btn btn-primary" href="/House">Inapoi la anunturi</a></div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                       
                        <div class="h4 text-center">Informatii despre anunt</div>
                        <div class="row pv-lg">

                            <div class="col-lg-11">
                                <form class="form-horizontal ng-pristine ng-valid">


                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Descriere: </label>
                                        <div style="padding: 15px;" class="col-sm-8 jumbotron">
                                            @Model.Description
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Adresa: </label>
                                        <div  style="padding: 15px;" class="col-sm-8 jumbotron">
                                            @Model.Address
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Calitatea finisajelor: </label>
                                        <div style="padding: 15px;"  class="col-sm-8 jumbotron">
                                            @Utilss.GetOverallQual(Model.OverallQual)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" >Interval estimat NOlx: </label>
                                        <div style="padding: 15px;"  class="col-sm-8 jumbotron">
                                             @{ 
                                                 var minInterval = Model.SuggestedPrice - Model.SuggestedPrice * 15 /100;
                                                 var maxInterval = Model.SuggestedPrice + Model.SuggestedPrice * 15 /100;
                                                 minInterval -= minInterval % 1000;
                                                 maxInterval -= maxInterval % 1000;
                                             }
                                            @minInterval - @maxInterval RON

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" >Tipul de locuință : </label>
                                        <div  style="padding: 15px;" class="col-sm-8 jumbotron">
                                            @Utilss.GetMsSubClass(Model.MSSubClass)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" >Numar bai: </label>
                                        <div style="padding: 15px;"  class="col-sm-8 jumbotron">
                                             @Model.FullBath
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" >An constructie: </label>
                                        <div style="padding: 15px;"  class="col-sm-8 jumbotron">
                                             @Model.YearBuilt
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" >Numar camere: </label>
                                        <div  style="padding: 15px;" class="col-sm-8 jumbotron">
                                             @Model.TotRmsAbvGrd
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" >Nivel echipare bucatarii: </label>
                                        <div  style="padding: 15px;" class="col-sm-8 jumbotron">
                                            @Utilss.KitchenQual(Model.KitchenQual)
                                        </div>
                                    </div>


                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

