﻿
@using NOlx.Controllers
<div class="col-md-12 houseinfo margin-bottom-15">
    <div class="col-md-6">
        <h3>@Model.Title</h3>
        <p><i>Descriere: @Model.Description</i></p>
        <p>Pret: @Model.Price lei</p>
        <p>Adresa: @Model.Address</p>
        <p><i class="glyphicon glyphicon-user"></i> <i>Anunt adaugat de: </i>@Utilss.GetUserName(Model.UserId)</p>
        <a class="btn btn-primary btn-info" href="/House/Show/@Model.HouseId"><span class="glyphicon glyphicon-search"></span> Detalii</a>
    </div>
    <div class="col-md-6">
         @{ 
             var base64 = Convert.ToBase64String(@Model.Image);
             var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
         }
        <img src="@imgsrc" alt="Imagine locuinta" height="220" width="350" style="float:right;margin-right:-6%"/>
    </div>
</div>


